body{
    margin: 0px;
    padding:0px;
}

/* navbar styling starts */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}
.my-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-left{
    flex-grow: 1;
}
.navbar-right{
    display: flex;
}
.navbar-button{
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-button:hover{
    color: red;
    cursor: pointer;
    transition: ease-in-out;
}
.brand-name:hover{
    color:yellow;
}

/* navbar styling ends */
.items::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
.main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.title{
    /* margin-left: -12px; */
    padding: 10px;
    position: fixed;
    margin-top: 46px;
    background-color: white;
    width: 100%;
}
.items{
    margin-top: 100px;
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:100px 30px;
    overflow-y: scroll;
}
.items img{
    width:80%;
    height:70%;
    margin: 0px 30px;
}
#p-desc{
    width:200px;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    height:50px;
    overflow-y: scroll;
}
.product-img{
    height:300px;
}
.product-details{
height:80px;
}
#p-desc::-webkit-scrollbar{
    display: none;
}
.list-container::-webkit-scrollbar{
    display: none;
}
.price{
    margin-top: 0px;
    color:blue;
    font-weight: bolder;
}
.rating-rate{
    margin-top: -16px;
    font-weight: bolder;
    color: red;
}
#addBtn{
    width:200px;
    margin-top: 30px;
    background-color: aqua;
    color: black;
    border: none;
    font-weight: 700;
    padding: 5px;
}
#addBtn:hover{
    background-color: red;
    color:black
}
.list-container{
    margin-top:100px;
    width: 500px;
    overflow-y: scroll;
}
.checkout-box{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin: 20px 0px;
}
.checkout-img{
    width:35%;
    margin: 10px;
}
.checkout-title{
    font-weight: 700;
    font-size: 12px;
    overflow-y: hidden;
}
.checkout-price{
    font-weight: 700;
    font-size: 18px;
    color:red;
}
.checkout-total-price{
    text-align: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.index{
    font-weight: 700;
    color:green;
}
#rzp-button1:hover{
    background-color: green;
    cursor: pointer;
    color:blue;
}
.e-msg{
    width: 100%;
    color:red;
    margin: 200px 600px;
}



@media screen and (max-width:768px) {

    
    .navbar-right{
        flex-direction: column;
        align-items: flex-start;
    }
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
    .e-msg{
        margin: 50px 0px;
    }
    .navbar{
        width: 100%;
        margin: 0px;
        padding:0px;
    }
    .title{
        display: none;
    }
    .main-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .list-container{
        margin-top:100px;
        width: 100%;
        overflow-y: scroll;
    }
    .container-fluid{
        margin-top: 80px;
    }
}