body{
    margin: 0px;
    padding:0px;
}

/* navbar styling starts */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}
.navbar-left{
    flex-grow: 1;
}
.navbar-right{
    display: flex;
}
.navbar-button{
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-button:hover{
    color: red;
    cursor: pointer;
    transition: ease-in-out;
}
.brand-name:hover{
    color:yellow;
}

/* navbar styling ends */


/* body styling starts  */
body{
    place-items: center;
    background: #AB47BC;
    font-family: 'Noto Sans', sans-serif;
}
.form-control, button {  
    box-shadow: none!important;
    outline: -webkit-focus-ring-color auto 0px!important;
  }
.profile-pic{
    font-size: 200px;
    color:rgb(242, 104, 104);
    background-color: transparent;
    box-shadow:  20px 20px 60px #d54907, 
             -20px -20px 60px #956705;
}
.profile-button{
	color:white;
	padding:10px; 
    border:2px black solid;
    border-radius: 10px;
    background: #AB47BC;
    font-weight: bolder;
}
.profile-button:hover{
    background-color: orange;
    color:black;
}
.card{
    width:100%;
    color:white;
    border-radius: 10px;
    background: linear-gradient(145deg, #9a40a9, #b74cc9);
    box-shadow:  20px 20px 60px #913ca0, 
             -20px -20px 60px #c552d8;
    border: none;
}
.hanging-board {
    text-align: center;
    width: 200px;
    margin-top:-25px;
    margin-right: -100px;
    margin-left: 50px;
}
.hanging-board img{
    width: 100%;
}
.hanging-board button{
    margin-top: -170px;
    width:130px;
    height:50px;
    font-weight: 700;
}
#logout:hover{
    background-color: #9a40a9;
}
.main-container{
    display: flex;
    flex-wrap: now-wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}




@media screen and (max-width:768px) {
    .main-container{
        flex-direction: column;
    }
}