body {
  margin: 0px;
  padding: 0px;
}

/* navbar styling starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}
.my-nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-left {
  flex-grow: 1;
}
.navbar-right {
  display: flex;
}
.navbar-button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-button:hover {
  color: red;
  cursor: pointer;
  transition: ease-in-out;
}
.brand-name:hover {
  color: yellow;
}

/* navbar styling ends */
#first {
  margin-top: 100px;
}
.signup-template {
  display: flex;
}
.signup-form-login-btn {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  color: blue;
}
.signup-img img {
  width: 100%;
  height: 80vh;
}
.continue-btn {
  width: 100%;
  height: 50px;
  background-color: orangered;
  color: white;
}
.next-btn {
  width: 100%;
  height: 50px;
  background-color: orangered;
  color: white;
}
.signup-form-login-btn {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  color: blue;
}
.sign-up-form {
  width: 100%;
  margin: 100px;
}
.card-title h4 {
  margin-top: -40px;
}
.create-btn {
  width: 100%;
  height: 50px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}
.form-control,
button {
  box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
#second {
  display: none;
}

/* media queries */

@media screen and (max-width: 768px) {
  .signup-template {
    width: max-content;
    flex-direction: column;
  }
  .signup-template img {
    width: 100%;
  }
  #first {
    width: max-content;
    margin-top: 130px;
  }
  .sign-up-form {
    width: 300px;
    margin: 0px;
    margin-top: 50px;
  }
}
